:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
  --font-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --section-title-color: #FF0070;
  --button-color: #FF0070;
  --button-hover: rgba(255, 0, 112, 0.4);
  --decor-color: #FF0070;
  --text-title-color: #000028;
}

.theme-dark .header__rec-element {
  display: block;
}
